body {
  margin: 0;
  background-color: darkgray;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#carCanvas {
  background-color: lightgray;
}
#networkCanvas {
  background-color: black;
}
#verticalButtons {
  display: flex;
  flex-direction: column;
}
button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  cursor: pointer;
}
button:hover {
  background-color: lightblue;
}
